Options -Indexes

DirectoryIndex app/index.php

<FilesMatch "\.env$">
 Deny from all
</FilesMatch>

<Limit POST PUT DELETE>
 Deny from all
</Limit>

#<FilesMatch "\.json$">
# Order allow,deny
# Allow from 192.168.0.53
#</FilesMatch>

RewriteEngine on

RewriteCond %{QUERY_STRING} "script"

RewriteRule .* - [F]

#Redirect http://localhost/replay/app/data/library.json$ https://
#RewriteRule ^app/data/library.json$ - [R=403,NC,L]

