/* GLOBALS */
* {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; transition: .1s;}
body {background: #1a1b20; overflow-y: hidden;}

/* CONTAINER */
#background-image {position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background-position: center; background-repeat: no-repeat;background-size: 200%; filter: blur(13px); -webkit-filter: blur(13px);}

.container {width: 100%; height: 90vh; display: flex; overflow-y: hidden;}

/* SIDE BAR */
#global-side-bar {background: #202128; width: 18%; padding: 2%; overflow-y: auto; overflow-x: hidden;}

.playlists-container {display: block; height: 200px; background: #1d1b1b; color: #fff; padding: 30px; border-radius: 8px;}
.playlists-container h5 {color: #fd0;}
.playlists-container a {font-size: 10px; text-decoration: none; color: #fff; padding: 10px;}
.playlists-container a :hover {font-size: 18px;}

.logo {padding-left: 5px; max-width: 50px; width: 100%;}
.nav-menu {background: #202128; padding: 30px 0; }
.nav-menu-item {display: inline-block; text-decoration: none; width: 100%; padding: 10px; font-weight: 500; border-radius: 3px; color: #fff; transition: .2s;}
.nav-menu-item:hover {color: #fff; background: rgb(255, 255, 255) transparent; background: rgba(255, 255, 255, 0.09); border-radius: 5px; transform: scale(1.1);}
.nav-menu-item-selected {font-weight: 910;}
nav a img {width: auto; margin-bottom: -3px;}

.config-button {width: 100%; margin-top: 50%;}
.config-button:hover {transform: scale(1.2);}

.nav-menu-icon {height: 20px;}

/* CONTENT CONTAINER */

#content-display {background-image: linear-gradient(to right bottom,#1a1b20 , #202128); width: 82%; padding: 50px; overflow-y: scroll; scrollbar-width: thin; scrollbar-color: #6f2dff; overflow-x: hidden; transition: 5s;}
#content-display::-webkit-scrollbar {width: 5px;}
#content-display::-webkit-scrollbar-track {background: transparent; padding: 2px;}
#content-display::-webkit-scrollbar-thumb {background-color: #6f2dff;}

table {border-collapse: collapse; width: 100%; color: #fff;}
.music-card-line { width: 100%; background: rgba(32, 33, 40, 0.666); }
td {border-bottom: solid .1px #2f3137;}

.music-thumbnail-col {background: #fd0; width: 88px; border-bottom: 0; }
.music-thumbnail {width: 88px; height: 88px; object-fit: cover; margin-bottom: -4px; }
table h3 {max-width: 300px; font-size: 13px; font-weight: 700; padding: 20px; white-space: nowrap; overflow: hidden; }

.button-col {width: 30px; padding: 0 30px;}
.generic-btn {width: 30px; margin: 0; padding: 0; margin-top: 6px; cursor: pointer;}

/* = = = = = = = = = = = = = = = */

/* PLAYER */

audio {position: absolute; display: none;}

.player {position: absolute; display: flex; background: #1a1b20; width: 100%; height: 10vh; text-align: center; align-items: center; bottom: 0;}
.player-controls {width: 100%;}

.title-display {max-width: 600px; width: 100%; height: 20px;  display: inline-block; border-radius: 2px; color: #858295; font-size: 15px; padding: 2px;}

.player-buttons {width: 100%;}
.play-button {width: 60px; margin: 0; padding: 0; margin-top: 6px; cursor: pointer; padding: 0 10px;}

.progress-bar {max-width: 920px; width: 100%; height: 9px; background: #3b4059; border-radius: 8px; position: relative; display: inline-block;}
.progress-update {position: absolute; left: 0; top: 0; width: 0; height: 9px; border-radius: 8px; background: #6f2dff;}

#range {width: 80%;}

/* MODAL */

.modal {display: none; position: fixed; z-index: 1; padding-top: 30vh; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; }

.modal-content {background: #000; color: #fff; margin: auto; padding: 20px; border: none; width: 20%;border-radius: 10px;}
.close {color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover, .close:focus {color: #fff; text-decoration: none; cursor: pointer;}

/* = = = = = = = = = = = = = = = */

@media screen and (max-width: 920px) {
    /**/
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
