* {margin: 0; padding: 0; box-sizing: border-box; transition: 1s;}

.container {width: 100%; height: 90vh; display: flex; }
#global-side-bar {background: #fd0; width: 20%; padding: 2%; overflow-y: auto; overflow-x: hidden;}
#library {background: red; width: 80%; padding: 50px;}

.logo {max-width: 50px; width: 100%;}
.nav-menu {background: green; padding: 10px;}
.nav-menu a {text-decoration: none;}
.nav-menu-item {padding: 1em; transition: .2s; border-radius: 2em; color: black;}
.nav-menu-item:hover {background: #fd0;}
.nav-menu-item-selected {color: #fff;}

.playlists-side-bar {background: blue;}
.playlists-side-bar-item {background: green;}

.music-card {background: #cc8; width: 100%; display: flex; gap: 5%; align-items: center; font-size: 12px;}
.music-thumbnail {width: 88px;}

.player {background: salmon; width: 100%; height: 10vh; position: absolute; display: flex; text-align: center; align-items: center;}
.player-controls {background: blue; width: 100%;}

.title-display {background: #fff; width: 30%; display: inline-block;}
.title-display h4 {font-size: 15px; padding: 2px;}

.player-buttons {background: orange;}
.generic-btn {width: 40px;}

.progress-bar {width: 100%; max-width: 920px; height: 9px; background: #000; border-radius: 8px; position: relative; display: inline-block;}
.progress-update {position: absolute; left: 0; top: 0; width: 0; height: 9px; border-radius: 8px; color: #fff; background: #fff;}

@media screen and (max-width: 920px) {
    #library {background: #000;}
}
