* {margin: 0; padding: 0; box-sizing: border-box; transition: .2s; font-family: sans-serif }

.container {width: 100%; height: 90vh; display: flex; }
#global-side-bar {background: #202128; width: 18%; padding: 2%; overflow-y: auto; overflow-x: hidden; }
#content-display {background: #1a1b20; width: 82%; padding: 50px; }

.logo {padding-left: 5px; max-width: 50px; width: 100%;}
.nav-menu {background: #202128; padding: 30px 0;}
.nav-menu-item {display: inline-block; text-decoration: none; width: 100%; padding: 10px; font-weight: 500; border-radius: 3px; color: #fff;}
.nav-menu-item:hover {color: #fff; background: rgb(255, 255, 255) transparent; background: rgba(255, 255, 255, 0.09); border-radius: 5px;}
.nav-menu-item-selected {font-weight: 910;}

.nav-menu-icon {height: 20px; }
/* .nav-menu a {background: #fd0; padding: 10px;} */

table {border-collapse: collapse; width: 100%; color: #fff;}
.music-card-line {background: #202128; width: 100%;}
td {border-bottom: solid .1px #2f3137;}

.music-thumbnail-col {background: #fd0; width: 88px; border-bottom: 0; }
.music-thumbnail {width: 88px; height: 88px; object-fit: cover; margin-bottom: -4px; }
table h3 {max-width: 300px; font-size: 13px; font-weight: 700; padding: 20px; white-space: nowrap; overflow: hidden; }

.button-col {width: 30px; padding: 0 30px;}
.generic-btn {width: 30px; margin: 0; padding: 0; margin-top: 6px; cursor: pointer;}
/* .generic-btn:hover { } */

/* = = = = = = = = = = = = = = = */

/* PLAYER */

audio {position: absolute; display: none;}

.playlists-container {background: #1d1b1b; color: #fff; padding: 30px; border-radius: 8px;}
.playlists-container h5 {color: #fd0;}
.playlists-container a {font-size: 10px; text-decoration: none; color: #fff; padding: 10px;}
.playlists-container a :hover {font-size: 18px;}
/* .playlists-side-bar-item {} */

.player {background: #1a1b20; width: 100%; height: 10vh; position: absolute; display: flex; text-align: center; align-items: center;}
.player-controls {width: 100%;}

.title-display {width: 30%; display: inline-block; border-radius: 2px; color: #858295; font-size: 15px; padding: 2px;}

.player-buttons {width: 100%;}
.play-button {width: 60px; margin: 0; padding: 0; margin-top: 6px; cursor: pointer; padding: 0 10px;}

.progress-bar {width: 100%; max-width: 920px; height: 9px; background: #3b4059; border-radius: 8px; position: relative; display: inline-block;}
.progress-update {position: absolute; left: 0; top: 0; width: 0; height: 9px; border-radius: 8px; background: #6f2dff;}

/* = = = = = = = = = = = = = = = */

@media screen and (max-width: 920px) {
    #content-display {background: #000;}
}
